.people-list-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &-title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }

    &-table {
        --tr-height: 30px;
        --td-padding: 6px;
        --darkest-bg: var(--darkest-palette);
        --dark-bg: var(--dark-palette);
        --light-bg: var(--light-palette);

        color: var(--light-text-color);
        border: 1px solid var(--light-text-color);
        border-spacing: 0;
        font-size: 13px;

        &-header,
        &-body {
            &-item {
                height: var(--tr-height);

                &-data {
                    height: var(--tr-height);
                    padding: var(--td-padding);
                    padding-right: 0;

                    &__container {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-right: var(--td-padding);
                    }

                    &--name {
                        width: 150px;
                    }

                    &--age {
                        width: 45px;
                    }

                    &--no-separator {
                        .people-list-component-table-header-item-data__container {
                            border-right: none;
                        }
                    }
                }
            }
        }

        &-header {
            &-item {
                background-color: var(--darkest-bg);

                &-data {
                    &__container {
                        border-right: 1px solid var(--light-text-color);
                    }

                    &:last-child {
                        .people-list-component-table-header-item-data__container {
                            border-right: none;
                        }
                    }
                }
            }
        }

        &-body {
            &-item {
                background-color: var(--light-bg);

                &:nth-child(even) {
                    background-color: var(--dark-bg);
                }

                &-data {
                    &--delete,
                    &--edit {
                        .people-list-component-table-body-item-data__container {
                            transition: 0.2s linear;

                            span {
                                cursor: pointer;
                                user-select: none;
                            }

                            &:hover {
                                text-decoration: underline;
                                font-size: 13px;
                                color: var(--highlight-light-text-color);
                            }
                        }
                    }

                    &--name {
                        .people-list-component-table-body-item-data__container {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}
