html {
    --highlight-light-text-color: #ffffff;
    --light-text-color: #dadada;
    --highlight-dark-text-color: #000000;
    --dark-text-color: #1a1a1a;
    --darkest-palette: #34344c;
    --dark-palette: #3f3f65;
    --light-palette: #43427c;
}
