.modals-component {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    &-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3f3f654a;
        width: 100%;
        height: 100%;
    }

    &.modal-animation {
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 0.4s;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 0.4s;
        }
        &-exit-done {
            display: none;
        }
    }
}
